.webform-goal-meter {
    padding: 5px 0;
}

@keyframes grow-meter {
    from {transform: scale(0, 1);}
    to {transform: scale(1, 1);}
}

@keyframes reveal-number {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.webform-goal-meter-goal {
    width: 100%;
    text-align: left;
    padding: 0 0 0 0;
    font-weight: normal;
}

.webform-goal-meter-meter {
    width: 100%;
    height: 30px;
    background-color: #999;
    border: #999  1px solid;
    color: #fff;
    border-radius: 5px;
}

.webform-goal-meter-meter span {
    position: absolute;
    z-index: 1000;
    left: 5px;
    animation-name: reveal-number;
    animation-duration: 2.3s;
}


.webform-goal-meter-percentage {
    height: 100%;
    z-index: 900;
    background-color: #407cc5;
    padding-left: 3px;
    text-align: left;
    font-weight: bold;
    animation-name: grow-meter;
    animation-duration: 2.3s;
    transform-origin: left;
}
